body {
  background-color: #697A96;
  text-align: center;
  font-size: large;
  text-size-adjust: 20px;
  font-weight:bold;
  margin: auto;
}

  


.form-control {
  justify-content: center;
  display: block;
  text-align: center;
}
.form-group {
  text-align: center;
}


